@model ReservationSystem.Models.Reservation.Receipt

@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>

<div>
    <p>Thank you. Your reservation has now been confirmed. Your reservation details are:</p>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
    <p>To change or cancel this reservation, please contact the restaurant.</p>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
