@model ReservationSystem.Areas.Admin.Models.Edit

@{
	ViewData["Title"] = "Edit Reservation";
	var start = Model.Date.ToString("hh:mm");
}

<h1 class="display-4 text-primary pb-4 fw-4">Edit Reservation</h1>
<h1>@Model.Date</h1>

<div class="col-md-6 offset-md-3">
	<form asp-area=Admin asp-controller=Home asp-action=EditReservation>
		<div class="form-group">
			<label for="firstName">First Name</label>
			<input type="text" class="form-control" id="firstName" name="firstName" value="@Model.FirstName" required>
		</div>
		<div class="form-group">
			<label for="lastName">Last Name</label>
			<input type="text" class="form-control" id="lastName" name="lastName" value="@Model.LastName" required>
		</div>
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email" value="@Model.Email">
		</div>
		<div class="form-group">
			<label for="phone">Phone Number</label>
			<input type="number" class="form-control" id="phone" name="phone" value="@Model.Phone">
		</div>
		<div class="form-group">
			<label for="date">Date</label>
			<input type="datetime" class="form-control" name="date" id="date" value="@Model.Date">
		</div>
		<div class="form-group">
			<label for="date">Number of People</label>
			<input type="number" class="form-control" name="numpeople" id="numpeople" value="@Model.NumPeople">
		</div>

		<div class="form-group">
			<p>Reservation Status: </p>
			<select asp-for=ReservationStatusId asp-items=Model.ReservationStatus>
			</select>
		</div>
		<div class="form-group">
			<p>Reservation Origin: </p>
			<select asp-for=ReservationOriginId asp-items=Model.ReservationOrigin></select>
		</div>

		<div>
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
		<input type="hidden" asp-for=SittingId />
		<input type="hidden" asp-for=Id />
	</form>
</div>
