@using System.Security.Policy
@model ReservationSystem.Areas.Admin.Models.Sitting.Details

@{
	ViewData["Title"] = @Model.Title;
}

<div class="container-xxl text-center">
	<h1 class="fs-2 mt-3 text-primary">@Model.Title</h1>
	<h2>@Model.StartTime.ToLongDateString()</h2>
	<h4>@Model.StartTime.ToShortTimeString() - @Model.EndTime.ToShortTimeString()</h4>
	<h4>Sitting Type: @Model.SittingType</h4>
	<div class="d-flex justify-content-end mb-4">
		<a type="button" class="btn btn-success" asp-controller="Reservation" asp-action="Create" asp-route-sittingId="@Model.SittingId">Add Reservation</a>
	</div>
	<div class="row">
		<div class="col-6">
			<div id="assignable-tables-list">
				<div class="row">
					<h2 class="bg-success text-white m-0 p-4 col-12">Assign Tables</h2>
					@foreach (var tableItem in Model.AllTables)
					{
						<span class="droppable border bg-light p-4 col-6" data-table-id="@tableItem.Id">
							@tableItem.Name
						</span>
					}
				</div>
			</div>
		</div>
		<div class="col-6">
			<table class="table table-hover table-striped">
				<thead class="table-success">
					<tr>
						<th>
							Arrival Time
						</th>
						<th>
							Customer Name
						</th>
						<th>
							Customer Phone Number
						</th>
						<th>
							Number of People
						</th>
						<th>
							Comments
						</th>
						<th>
							Edit
						</th>
						<th>
							Cancel
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.ReservationList)
					{
						<tr class="draggable ui-widget-content" data-reservation-id="@item.Id">
							<td>
								@Html.DisplayFor(modelItem => item.StartTime)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Phone)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Guests)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Comments)
							</td>
							<td>
								<a type="button" class="btn btn-primary text-white" asp-controller="Reservation" asp-action="Edit" asp-route-reservationId="@item.Id">Edit</a>
							</td>
							<td>
								<a type="button" class="btn btn-danger text-white" asp-controller="Reservation" asp-route-reservationId="@item.Id">Cancel</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	<br>
</div>

@section scripts{
	<script src="~/js/admin.sitting.details.js"></script>
}