@using System.Security.Policy
@model ReservationSystem.Areas.Admin.Models.Sitting.Index

@{
	ViewData["Title"] = "Sittings";
    var prevDisabled = !Model.Sittings.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Sittings.HasNextPage ? "disabled" : "";
}

<div class="container text-center">
	<h1 class="display-4 text-primary pb-4 fw-4">Sittings</h1>
	<a type="button" class="btn btn-primary" asp-controller="Sitting" asp-action="Create">Add Sitting</a>

	<table class="table table-hover table-striped">
		<thead class="table-primary">
			<tr>
				<th> Date </th>
				<th> @Html.ActionLink("Start Time", "Index", new { sortOrder = ViewBag.DateTimeSortParam }) </th>
				<th> End Time </th>
				<th> Title </th>
				<th> PercentFull </th>
				<th> @Html.ActionLink("Closed", "Index", new { sortOrder = ViewBag.IsClosedSortParam }) </th>
				<th> View Sitting Details </th>
				@if(User.IsInRole("Manager")){
					<th> Edit Sitting Details </th>
					<th> Close Sitting </th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var r in Model.Sittings)
			{
				<tr class=@r.TableVariant>
					<td> @Html.DisplayFor(modelItem => r.Date) </td>
					<td> @Html.DisplayFor(modelItem => r.StartTime) </td>
					<td> @Html.DisplayFor(modelItem => r.EndTime) </td>
					<td> @r.Title </td>
					<td> @r.PercentFull </td>
					<td> @r.IsClosed </td>
					<td>
						<button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Details", "Sitting", new {sittingId = r.SittingID})'">View Details</button>
					</td>
					@if (User.IsInRole("Manager"))
					{
						<td>
							<button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Edit", "Sitting", new {sittingId = r.SittingID})'">Edit Details</button>
						</td>
						@if(!r.IsClosed){
							<td>
								<button type="button" class="btn btn-primary btn-close-sitting" data-sitting-id="@r.SittingID"   data-bs-toggle="modal" data-bs-target="#closeSittingModal">Close Sitting</button>
							</td>
						}
						else
						{
							<td>
								<button type="button" class="btn btn-primary" disabled>Sitting Closed</button>
							</td>
						}
					}
				</tr>
			}
		</tbody>
	</table>
	<br>

	<!-- Close Sitting Modal -->
	<div class="col-md-6 offset-md-3">
		<div class="modal fade" id="closeSittingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Confirm Close Sitting</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to close this sitting?</p>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
	</div>

</div>



@section scripts{
    <script src="~/js/admin.sitting.index.js"></script>
}