@using System.Security.Policy
@model ReservationSystem.Areas.Admin.Models.Reservation.Index
@{
	ViewData["Title"] = "Reservations";
}

<div class="container text-center">
	<h1 class="fs-2 mt-3 text-primary">Reservations</h1>
	<table class="table table-hover table-striped" >
		<thead class="table-primary">
			<tr>
				<th>Id</th>
				<th>Time</th>
				<th>Status</th>
				<th>Sitting Id</th>
				<th>Edit</th>
				<th>Cancel</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var r in Model.Reservations)
			{	
			<tr> 
				<td>@r.Id</td>
				<td>@r.DateTime</td>
				<td>@r.Status</td>
				<td>@r.SittingId</td>
				<td>
					<a type="button" class="btn btn-primary" asp-controller="Reservation" asp-action="Edit" asp-route-reservationId = "@r.Id" >Edit Reservation</a>
				</td>
				<td>
					<a type="button" class="btn btn-danger" asp-controller="Reservation" asp-route-reservationId = "@r.Id" >Cancel Reservation</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>
